<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysx.metadata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="string_value"
            android:value="thisisstringvalue" />

        <meta-data
            android:name="int_value"
            android:value="123456" />

        <meta-data
            android:name="boolean_value"
            android:value="true" />

        <meta-data
            android:name="color_value"
            android:value="#ff0000" />

        <meta-data
            android:name="float_value"
            android:value="1.23" />

        <meta-data
            android:name="long_value"
            android:value="L12345678901" />

    </application>

</manifest>